.section-home {
	max-height: 720px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
}
.bg-text-home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto 0;
	justify-content: center;
	align-items: center;
	margin-right: 150px;
}
.circle {
	position: absolute;
	overflow-x: hidden;
	right: -30px;
	top: 0;
	width: 550px;
	z-index: -100;
	max-height: 720px;
}
.circleMobile {
	display: none;
}
.social {
	position: absolute;
	bottom: 10px;
	left: 0px;
	display: flex;
	align-items: center;
} 
.social a {
	transition: .5s;
	cursor: pointer;
	color: white;
	text-decoration: none;
	margin: 0 5px;
}
.social a:hover {
	transition: .3s;
	transform: scale(1.1);
}
.social .style-social {
	color: white;
	font-size: 42px;
}
.social .style-social-2 {
	font-size: 48px;
}
.style-img-logo {
	transition: 1s;
	cursor: pointer;
	transform: perspective(250px) rotateY(-20deg);
}
.style-img-logo:hover {
	transition: .5s;
	transform: perspective(250px) rotateY(0deg);
}
@media (max-width: 935px) {
	.section-home {
		height: 100vh!important;
		max-height: 100vh;
	}
	.style-img-logo {
		height: 270px;
		width: 100%;
		transform: translateY(-30px);
	}
	.style-img-logo:hover {
		transform: translateY(-30px);
	}
	.social {
		display: none;
	}
	.circle {
		display: none;
	}
	.bg-text-home {
		margin: auto;
		width: 100%!important;
		min-height: 300px;
		max-height: 380px;
	}
	.bg-text-home h1{
		justify-content: center;
		align-items: center;
		font-size: 200%;
	}
	.circleMobile {
		overflow-x: hidden;
		z-index: -10;
		display: flex;
		position: absolute;
		bottom: 0;
		min-width: 600px;
		height: 65%;
	}
}

@media (min-height: 700px) and (max-height: 935px){
	.section-home {
		height: 100vh!important;
		max-height: 100vh;
	}
}

.section-home .blue__gradient {
	position: absolute;
	top: -200px;
	left: -130px;
	width: 430px;
	height: 430px;
	  background: rgb(55, 90, 195);
	  filter: blur(260px);
	  z-index: 0;
  }
  