.header-detail {
	display: flex;
	align-items: center;
}
.play-video {
	margin-left: 20px;
	font-size: 50px;
	cursor: pointer;
	color: white;
}
.exit {
	font-size: 30px;
	margin: 5px;
	cursor: pointer;
}
.verVideo {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	width: 100%;
	height: 100%;
}
.container-relative {
	position: relative;
	height: 100%;
}

.container-detail-project {
	z-index: 1000;
	position: relative;
	width: 450px;
	height: 60%;
	display: flex;
	flex-direction: column;
	padding: 30px 25px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}
.container-detail-project h1 {
	width: fit-content;
	font-size: 42px;
	cursor: pointer;
}
.container-detail-project .line-bg {
	background-color: white;
	width: 80%;
	height: 6px;
	margin: 10px 0;
}
.container-detail-project h2 {
	font-size: 22px;
	margin-bottom: 10px;
}
.container-detail-project .style-description {
	font-size: 18px;
	font-family: 'Poppins';
	margin-bottom: 20px;
}
.container-detail-project .container-links {
	width: 100%;
	margin-top: auto;
}
.container-detail-project .container-links .container-link {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.container-detail-project .container-links .container-link div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container-detail-project .container-links .container-link div .active-click {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
}
.container-detail-project .container-links .style-link {
	transition: .5s;
	font-size: 35px;
	color: white;
	margin-top: 5px;
}
.container-detail-project .container-links .style-link:hover {
	transition: .3s;
	transform: scale(1.1);
}

@media (max-width: 935px) {
	.container-detail-project {
		z-index: 1000;
		width: 80%;
		height: max-content;
		padding-bottom: 50px;
		min-height: max-content!important;
	}
	.container-detail-project h1 {
		font-size: 30px;
	}
	.container-detail-project .line-bg {
	height: 3px;
	}
.container-detail-project h2 {
	font-size: 18px;
}
.container-detail-project p {
	font-size: 14px;
	line-height: 25px;
}
.container-detail-project .container-links {
	height: max-content;
	margin: auto;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container-detail-project .container-links .container-link {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}
.container-detail-project .container-links .container-link div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container-detail-project .container-links .container-link div .active-click {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
}
}