.container {
    position: relative;
    width: 430px;
    height: 300px;
}
.container .containerImg {
    position: relative;
    width: 100%;
    height: 100%;
}
.container .containerImg img {
    position: absolute;
    border-radius: 5px;
    transform: perspective(250px) rotateY(-10deg);
}

.container .containerImg .one{
    transition: .5s;
    z-index: 10;
}

.container .containerImg .one:hover {
    transition: .3s;
    transform: scale(1.1)rotateY(-20deg);
}
.container .containerImg .two {
    z-index: 8;
    transition: .5s;
    position: absolute;
    left: 50px;
    bottom: 30px;
    opacity: 70%;
}
.container .containerImg .two:hover {
    transition: .3s;
    left: 60px;
    bottom: 40px;
}
.container .containerImg .three {
    z-index: 6;
    transition: 1s;
    position: absolute;
    left: 100px;
    bottom: 50px;
    opacity: 40%;
}
.container .containerImg .three:hover {
    transition: .3s;
    left: 110px;
    bottom: 60px;
}
